exportPattern("^[[:alpha:]]+")
S3method(plot, csBiFunction)
S3method(plot, csFSS)
S3method(plot, csFSSgr)
S3method(plot, lacv)
S3method(plot, BootTOS)
S3method(print, csBiFunction)
S3method(print, csFSS)
S3method(print, csFSSgr)
S3method(print, lacv)
S3method(summary, csBiFunction)
S3method(summary, csFSS)
S3method(summary, csFSSgr)
S3method(summary, lacv)
importFrom("graphics", "abline", "hist", "lines", "persp", "plot",
     "segments", "text")
importFrom("stats", "acf", "cmdscale", "dist", "filter", "hclust",
     "optim", "rnorm", "spectrum", "ts.plot", "var")
import("wavethresh")
